.form{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
// .SubmitButton{
//     width: 80%;
//     margin: 0 auto;
// }
.search_form{
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}


// noticeBar
.noticeBar {
    height: 40px;
    width: 100%;
    background-color: #fffbe8;
    padding: 0 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
    position: fixed;
    top: 0;
    z-index: 99;
  }
  
  .notice-warp {
    color: #ed6a0c;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
  }
  
  .notice-warp div {
    display: inline-block;
    padding-left: 108%;
    white-space: nowrap;
    transform: translateX(0%);
    animation: notice 10s linear 0s infinite normal;
  }
  .notice-icon {
    float: left;
    position: relative;
    top: 50%;
    margin-top: -9px;
    margin-right: 8px;
    color: #ed6a0c;
  }
  @keyframes notice {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
    